* {
    padding: 0px;
    margin: 0px
}

#logoPython {
    width: 400px;
    padding: 10px;
}

#principal {
    background-color: #245076;
    width: 970px;
    height: 600px;
}

#textsize {
    color: white;
    text-align: right;
    padding-top: 10px;
}

.header {
    display: inline-block;
}

#middle {
    background-color: white;
    width: 970px;
    height: 300px;
}

#footer {
    background-color: white;
    width: 970px;
    height: 200px;
    background-image: linear-gradient(to bottom, #245076, #407DB1);
}

.columna {
    display: inline-block;
}