<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <meta name="description" content="A really cool site!">
    <link rel="stylesheet" type="text/css" href="css_3.css">
</head>

<body>
    <div id="fondo">
        <div id="header">
            <h1>JavaScript Basics</h1>
        </div>
        <div>
            <div id="navigation">
                <h4>Home</h4>
            </div>
            <div id="main_content">
                <h2>JavaScript Basics</h2>
            </div>
        </div>
        <div id="footer">Footer
        </div>

    </div>


</body>

</html>